@media screen and (min-width: 1200px) {
    .team {
        background: $bg-secondary-color;

    &__hdr {
      font-weight: bold;
      font-size: 36px;
      line-height: 1.16;
      text-align: center;
      letter-spacing: 0.03em;
      color: $title-text-color;

      margin-bottom: 50px;
      }
    }

    .team__person {
        &-hdr {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.18;
      text-align: center;
      letter-spacing: 0.03em;
      color: $title-text-color;
      }

      &-dscrpt {
      font-size: 16px;
      line-height: 1.18;
      text-align: center;
      letter-spacing: 0.03em;
      color: $text-color;

      margin-top: 10px;
      }
    }

    .team__item-wrapper {
    padding: 30px 32px;
    background: $bg-primary-color;
  }

  .team__list {
      display: flex;

      & .team__item:not(:last-child) {
      margin-right: 30px;
    }

    & .team_item {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
    }
  }

  .social__list {
    display: flex;
    justify-content: center;

    margin-top: 16px;

    & .social__item:not(:last-child) {
      margin-right: 10px;
    }
  }

  .social__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    border-radius: 50%;
    border: none;

    background: $bg-primary-color;
    fill: $clients-border;

    cursor: pointer;

    &:hover {
      background: $extra-color;
      fill: $bg-primary-color;

      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 250ms;
    }
  }
}

